.container {
	background-image: url("../images/cork-wallet.png");
	background-repeat: repeat;
	width: 100%;
	height: 560px;
	overflow: auto;
	border-top-style: solid;
    border-top-width: 5px;
    border-color: #e1e1e1;
}

.portcontainer {
	background-image: url("../images/cork-wallet.png");
	background-repeat: repeat;
	width: 100%;
	overflow: auto;
	border-top-style: solid;
    border-top-width: 5px;
    border-color: #e1e1e1;
}

#main-bio, #contact-info, #bio-image {
	float: left;
}

#bio-image {
	width: 150px;
	height: 150px;
	margin-left: 23px;
	margin-top: 5px;
}

article {
	width: 250px;
	height: 200px;
	float: left;
	padding: 0px;
	margin: 25px;
	overflow: hidden;
	position: relative;
}

article img {
	width: 250px;
	height: 200px;
	margin-left: 10px;
}

#main-bio {
	width: 40%;
	height: 400px;
	margin-top: 40px;
	margin-left: 250px;
	background-color: #ffffff;
}

#port-bio {
	width: 40%;
	margin-top: 40px;
	margin-left: 250px;
	background-color: #ffffff;
}

#contact {
	width: 40%;
	height: 475px;
	margin-top: 40px;
	margin-left: 250px;
	background-color: #ffffff;
}

#connect {
	margin-left: 1000px;
	margin-top: 40px;
	padding: 15px;
	background-color: #fff;
	width: 16%;
}

#portconnect {

	margin-left: 1000px;
	margin-top: -835px;
	padding: 15px;
	background-color: #fff;
	width: 16%;
}

#contactconnect {
	margin-left: 1000px;
	margin-top: -475px;
	padding: 15px;
	background-color: #fff;
	width: 16%;

}

#rightborder {
	border-right-style: solid;
	border-width: 1px;
	border-color: #e1e1e1;
}

.alignright {
	float: right;
	margin-right: 250px;
	margin-top: 30px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #e1e1e1;
	padding-right: 15px;
	padding-left: 15px;
}

a:hover {
	font-size: 20px;
}

#connect a {
	text-decoration: none;
	font-weight: bold;
	color: #e1e1e1;
	padding-right: 5px;
	padding-left: 5px;
}

#contactconnect a {
	text-decoration: none;
	font-weight: bold;
	color: #e1e1e1;
	padding-right: 5px;
	padding-left: 5px;
}

#portconnect a {
	text-decoration: none;
	font-weight: bold;
	color: #e1e1e1;
	padding-right: 5px;
	padding-left: 5px;
}

p {
	color: #a6a6a6;
	margin-left: 38px;
	margin-right: 38px;
	line-height: 27px;
}

.name {
	margin-left: 35px;
	margin-bottom: -10px;
}

body {
	font-family: "Arial", "Helvetica Neue" , Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}	

header {
	background-color: #fff;
}

h1 {
	float: left;
	color: #eee;
	width: 200px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 28px;
	text-align: center;
	margin: 0 auto;
	margin-left: 250px;
	padding: 25px;
	background-color: #4aaaa5;
}

#contact h2 {
	color: #4aaaa5;
	font-size: 28px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding: 25px;
	margin-bottom: -15px;
	margin-left: 10px;
}

#port-bio h2 {
	color: #4aaaa5;
	font-size: 28px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding: 25px;
	margin-bottom: -15px;
	margin-left: 10px;
}


#portconnect h2 {
	color: #4aaaa5;
	text-align: center;
	font-size: 20px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding: 0px;
	
}

h2 {
	color: #4aaaa5;
	font-size: 28px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding-left: 35px;

}

#connect h2 {
	color: #4aaaa5;
	text-align: center;
	font-size: 20px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding: 0px;
}

#contactconnect h2 {
	color: #4aaaa5;
	text-align: center;
	font-size: 20px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding: 0px;	
}

article h3 {	
	position: absolute;
	bottom: 0;
	padding: 7px;
	width:91%;
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	margin-left: 10px;
}

footer {
	padding: 50px;
	border-top-style: solid;
	border-top-width: 10px;
	border-color: #4aaaa5;
	background: #666666;
	color: #a6a6a6;
	font-size: 10px;
}

hr { 
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    border-style: solid;
    border-width: 2px;
    color: #e1e1e1;
}

input {
	width: 87%;
	padding: 5px;
	margin-left: 35px;
	margin-right: 10px;
	color: #a6a6a6;
}

textarea {
	width: 88%;
	height: 100px;
	margin-left: 35px;
	margin-right: 10px;
	color: #a6a6a6;
}

input[type=submit] {
    width: 25%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 35px;
    border: none;
}